<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="openSettings()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="connected">

    <div class="ion-padding">
        <ion-button color="danger" expand="block" shape="round" fill="solid" (click)="logout()">Déconnexion</ion-button>
      </div>

</div>


<div *ngIf="!connected">

  <ion-item>
    <ion-label>
      <h2><b>Bienvenue dans l'espace membre</b></h2>
      <h5>Connectez-vous pour accéder à votre profil.</h5>
    </ion-label>
    <ion-icon name="game-controller-outline" color="dark"></ion-icon>
  </ion-item>

<div class="padding">
  <div class="padding2">
  <ion-item lines="none" >
    
    <ion-input type="email" placeholder="Adresse email" [(ngModel)]="dataUser.email" autocomplete></ion-input>
  </ion-item>
  </div>

  <br>

  <ion-item lines="none" >
    
    <ion-input type="password" placeholder="Mot de passe" [(ngModel)]="dataUser.password" clear-input ></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-button color="dark" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
  </ion-item>

  <br>

  <ion-button color="tertiary" expand="block" (click)="login()">Connexion</ion-button>

  <br>

  <ion-item lines="none">
    <ion-label class="ion-text-center">Ou connectez-vous avec</ion-label>
  </ion-item>

  <div class="flex">
    <ion-button color="primary">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Facebook
    </ion-button>
    <ion-button color="danger">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Google
    </ion-button>
  </div>
    
</div>

  <ion-item lines="none">
    <ion-label >
      <h5 class="sign">Vous n'avez pas de compte ?</h5>
    </ion-label>
    <ion-button color="medium" slot="end" fill="clear" routerLink="/register">Inscrivez-vous</ion-button>
  </ion-item>
</div>


</ion-content>
