<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Videos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text><h1 align = "center">Présentation du jeu</h1></ion-text>
  <!-- Cartes vidéo -->
  <ion-slides [options] = "config">
    <ion-slide *ngFor = "let video of items">
      <ion-card (click) = "videomodal(video.url)">
        <ion-img [src]="video.images" alt=""></ion-img>
      </ion-card>
    </ion-slide>
  </ion-slides>
    <!-- Fin du modèle-->
  <ion-text><h1 align = "center">Skills</h1></ion-text>
  <ion-slides [options] = "config">
    <ion-slide *ngFor = "let video of items1">
      <ion-card (click) = "videomodal(video.url)">
        <ion-img [src]="video.images" alt=""></ion-img>
      </ion-card>
    </ion-slide>
    <ion-text><h1 align = "center">WTF</h1></ion-text>
    <ion-slides [options] = "config">
      <ion-slide *ngFor = "let video of items2">
        <ion-card (click) = "videomodal(video.url)">
          <ion-img [src]="video.images" alt=""></ion-img>
        </ion-card>
      </ion-slide>
  </ion-slides>


</ion-content>
