<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Videos
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-item lines="none">
    <ion-label class="categorie">
      <h1 class="vid-title"><b>Officiel</b></h1>
    </ion-label>
  </ion-item>
  <!-- Cartes vidéo -->
  <ion-slides [options] = "slideOpts">
    <ion-slide *ngFor = "let video of items">
      <ion-card (click) = "videomodal(video.url)">
        <ion-img [src]="video.images" alt=""></ion-img>
      </ion-card>
    </ion-slide>
  </ion-slides>
    <!-- Fin du modèle-->

  <ion-item lines="none">
    <ion-label class="categorie">
      <h1 class="vid-title"><b>Stories from the Outlands</b></h1>
    </ion-label>
  </ion-item>
  <ion-slides [options] = "slideOpts">
    <ion-slide *ngFor = "let video of items1">
      <ion-card (click) = "videomodal(video.url)">
        <ion-img [src]="video.images" alt=""></ion-img>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <ion-label class="categorie">
      <h1 class="vid-title"><b>Évènements</b></h1>
    </ion-label>
  </ion-item>
  <ion-slides [options] = "slideOpts">
      <ion-slide *ngFor = "let video of items2">
        <ion-card (click) = "videomodal(video.url)">
          <ion-img [src]="video.images" alt=""></ion-img>
        </ion-card>
      </ion-slide>
  </ion-slides>


</ion-content>
