<ion-header class="ion-no-border">
  <ion-toolbar class="bar-modal">
    <ion-title class="modal-title">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="news-card">
    <img [src]= "image"/>
    <ion-card-header>
      <ion-card-subtitle class="subtitle">{{ sousTitle }}</ion-card-subtitle>
      <ion-item lines="none">
        <ion-label class="date">Publié le: {{ date }}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content >
      <p class="article">{{ article }}</p>
    </ion-card-content>
    <ion-item lines="none">
      <p class="by-first">by</p>
      <ion-label class="by">{{ by }}</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>
