<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab5"></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="padding">
    <div class="padding2">
    <ion-card>

    <ion-item lines="none">
      <ion-input type="username" placeholder="Pseudo" [(ngModel)]="dataUser.username" clear-input value="clear me"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input type="email" placeholder="Adresse email" [(ngModel)]="dataUser.email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input type="password" placeholder="Mot de passe" [(ngModel)]="dataUser.password" clear-input></ion-input>
      <ion-icon slot="end" name="eye"></ion-icon>
    </ion-item>

    </ion-card>
    </div>
    
    <ion-card>
      <ion-item lines="none">
        <ion-label position="stacked">Quel est votre jeu préféré ?</ion-label>
        <ion-input [(ngModel)]="dataUser.game"></ion-input>
      </ion-item>
    </ion-card>

    <br>

    <ion-button [routerLink]="['/tab5']" color="primary" expand="block" (click)="signUp()">Inscription</ion-button>
  </div>
</ion-content>
