<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="connected">
    <div class="ion-padding">
      <ion-button color="danger" expand="block" shape="round" fill="solid" (click)="logout()">Déconnexion</ion-button>
    </div>
  </div>
</ion-content>
