<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="connected">
    <div class="ion-padding">
      <ion-button class="btn-logout" expand="block" fill="solid" (click)="logout()">Déconnexion</ion-button>
    </div>
    
  </div>

  <!--<ion-item lines="none">
    <ion-icon name="moon-outline" slot="start"></ion-icon>
    <ion-label>Mode sombre</ion-label>
    <ion-toggle (ionChange)="changeTheme()" [ngModel]="darkMode" slot="end"></ion-toggle>
  </ion-item>-->

  

</ion-content>
